.box:hover{
        cursor: pointer;
        background-color: gainsboro;
}
.tab{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 90%;
    border-collapse: collapse;

}
.table tr:hover{
    cursor: pointer;
    background-color: gainsboro;
}
.table th{
    background-color: black;
    color: white;
}
.table td,.table th{
    border: none;
    padding: 10px;
}
.table tr{
    text-align: center;
    border-bottom: 1px solid;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;

}